div.sticky
  nav.top-bar data-topbar="" role="navigation" 
    ul.title-area
      li.name
        h1
          a href="#"
            = APP_NAME
      li.toggle-topbar.menu-icon
        a href="#" 
          span Menu
    section.top-bar-section
      /! Right Nav Section
      ul.right
        li.active
          = link_to current_user.username, '#'
        li
          = link_to 'Sign out', destroy_user_session_path, method: :delete
