div.sticky
  nav.top-bar data-topbar="" role="navigation" 
    ul.title-area
      li.name
        h1
          a href="#"
            = APP_NAME
      li.toggle-topbar.menu-icon
        a href="#" 
          span Menu
    section.top-bar-section
      /! Right Nav Section
      ul.right
        li.active
          = link_to 'Sign in', new_user_session_path
        li
          = link_to 'Sign up', new_user_registration_path
