doctype html
html lang="en" 
  head
    meta charset="utf-8" /
    meta content="width=device-width, initial-scale=1.0" name="viewport" /
    title= content_for?(:title) ? yield(:title) : 'OnEx'
    = stylesheet_link_tag 'application'
    style
      = yield :stylesheets
    = javascript_include_tag 'vendor/modernizr'
    = csrf_meta_tags
  body
    = yield :topbar
    div#main
      = yield
    footer
      = yield :footer
    script
      = yield :javascripts
    = javascript_include_tag 'application'
