h2 Sign up
= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  = devise_error_messages!
  div
    = f.label :first_name
    br/
    = f.text_field :first_name
    br/
    = f.label :last_name
    br/
    = f.text_field :last_name
  div
    = f.label :username, autofocus: true
    br/
    = f.text_field :username
  div
    = f.label :email
    br/
    = f.email_field :email
  div
    = f.label :password
    br/
    = f.password_field :password, autocomplete: "off"
  div
    = f.label :password_confirmation
    br/
    = f.password_field :password_confirmation, autocomplete: "off"
  div
    = f.submit "Sign up"
= render "users/shared/links"
